body {
  margin: 0;
}

#perf-board {
  position: fixed;
  width: 204px;
  top: 8px;
  right: 8px;
}

#wrapper {
  margin: 0 auto;
  width: 80%;
  margin-top: 80px;
}

.logs {
  height: 300px;
  overflow-y: scroll;
}

.content {
  display: flex;
}

.content-item {
  flex: 1;
  border: 1px solid gray;
  padding: 8px;
}

.content-item .logs {
  min-height: 90px;
  margin: 12px 4px;
  padding: 8px;
  border: 1px solid gray;
}

.content-item .switch fieldset {
  min-height: 140px;
}

.content-item button {
  margin-top: 12px;
}

#others {
  margin-top: 12px;
}
